/* Body */
body {
    height: 100%;
    width: 100%;
    background-color: #000000;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
/* Navbar */
.navigation {
    color: #920f9e;
    font-family: sans-serif;
    background-color: #9f0bad;
    font-weight: bold;
    padding: inherit;
}
.navigation .navbar-brand {
    color: #9f0bad;
    font-family: Verdana;
    font-size: 30px;
    background-color: #9f0bad;
    font-weight: bold;
    margin-left: 30px;
    padding: 10px;
    box-sizing: border-box;
}
.navbar {
    max-height: 70px;
    background-color: #9f0bad;
    font-size: 16px;
}
.dropdown-item{
    color: #9f0bad; 
}
/* Show different color when hovering over items on the navbar */
.dropdown .dropdown-menu .dropdown-item:active, .dropdown .dropdown-menu .dropdown-item:hover{
    background-color: #9f0bad; 
}
.navigation .nav-link:hover{
    background-color: #9f0bad;
   }
.navigation .navbar-brand:hover{
    color: #9f0bad;
}
.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
/* Images */
img {
    width: 100%;
    height: 100%;
}
.image-fluid:hover{
    border-color: #0BADA6;
    border-style: solid;
}
.image-active {
    border-color:#0BADA6;
    border-style: solid; 
}
/* Surrond imgage with text */
.visualization{
    width: 50%;
    height: 50%;
}
/* Title */
.title {
    color: #9f0bad;  
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder; 
    padding-top: 25px; 
}
/* Paragraph */
p {
    color: #9f0bad;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px; 
}
/* Box */
.box {
    margin-top: 50px;
    margin-bottom: 40px;
    padding: 10px 20px 15px;
    color: black;
    background-color: #0BADA6;
}

/* Table */
.table-responsive {
    font-family: Arial, Helvetica, sans-serif;
}

@media(max-width: 992px){
.navbar-brand {
    color: #0BADA6;
    font-size: 30px;
    background-color: #0BADA6;
    padding: 10px;
}
.navbar{
    max-height: none; 
    padding: inherit;
}
.container{
    background-color: #0BADA6;
}
}
    